label{
    background-color: yellow;
}
input{
    color: red;
}
::placeholder{
    color: green;

}
option{
    background-color: maroon;
    color: blue;
}

span{
    color: black; background-color: black;
}
h1{ color: white;
    background-color: black;
}
.inline-heading {
    display: inline;
}
