h1{
    color: red;
    background-color: yellow;
}
label1{
    background-color: red; color: ;
}
h2{
    color: black;
    background-color: pink;
}
h3{
    color: red;
    background-color: pink;
}
label2{
    color: blue;
}
label3{
    color: pink;
    background-color: black;
}